.blog-index .blog-header {
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease-in-out;
    background-color: #fff;
    height: 60px;
    display: block;
    padding: 15px 10px;
  
    z-index: 100;
  }
  
  .blog-index{
  padding-top: 60px;
  }
  .imain{
    padding: 16px 16px 64px;
  }
  .imain  .block-index .block-explore-title{
    border-bottom:1px solid #e8e8e8;
  }
  .imain  .block-index .block-explore-title>h3{
    display: inline-block;
    padding: 8px 0;
    margin-bottom: -1px;
    border-bottom: 1px solid #262626;
    font-size: 16px;
    line-height: 32px;
  }

  .logo-link .image.image-default{
    /* width:auto; */
    /* height: 70px; */
    /* margin-top:-20px; */
  }